In [6]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

import MySQLdb

# 打开数据库连接
db = MySQLdb.connect("localhost", "root", "86w86w", "my_db", charset='utf8' )

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

# 使用execute方法执行SQL语句
cursor.execute("SELECT VERSION()")

# 使用 fetchone() 方法获取一条数据
data = cursor.fetchone()

print("Database version : %s " % data)

# 关闭数据库连接
db.close()

Database version : 8.0.11

In [7]:
#链接，读取，查询oracle
#工具库导入
import pandas as pd
import cx_Oracle 
#设置环境编码方式，可解决读取数据库乱码问题
import os
os.environ['NLS_LANG'] = 'SIMPLIFIED CHINESE_CHINA.UTF8'
#实现查询并返回dataframe、
def query(table):
    host = "192.168.0.167"#数据库ip
    port = "5500"#端口
    sid = "testoracle"#数据库名称
    dsn = cx_Oracle.makedsn(host, port, sid)
    #scott是数据用户名，tiger是登陆密码（默认用户名和密码）
    conn = cx_Oracle.connect("sys", "123456", dsn)
    #SQL语句，可以定制，实现灵活查询
    sql = 'select * from ' + studentinfo
    
    #使用pandas的read_sql函数， 可以直接将数据存放在datafrane中
    results = pd.read_sql(sql, conn)
    conn.close
    return results
    test_data = query(studentinfo) #可得到结果集
    print(test_data.fetchone())
    #start,end,Alarm text,source,Unnamed: 10

In [12]:
import cx_Oracle
#连接数据库，下面括号里内容根据自己实际情况填写
conn = cx_Oracle.connect('sys/123456@192.168.0.167:5500/TESTORACLE')
# 使用cursor()方法获取操作游标
cursor = conn.cursor()
#使用execute方法执行SQL语句
result=cursor.execute('Select member_id from member')
#使用fetchone()方法获取一条数据
#data=cursor.fetchone()
 
#获取所有数据
all_data=cursor.fetchall()
 
#获取部分数据，8条
#many_data=cursor.fetchmany(8)
 
print(all_data)
db.close()

DatabaseError: DPI-1047: Cannot locate a 64-bit Oracle Client library: "The specified module could not be found". See https://oracle.github.io/odpi/doc/installation.html#windows for help

In [18]:
#! coding:utf-8
  
import cx_Oracle
 
conn = cx_Oracle.connect('sys/123456@192.168.0.167/TESTORACLE')
cur = conn.cursor()
cur.execute("SELECT * from studentinofo")  # 查询数据内容
rows = cur.fetchone()  # 由于每条数据格式一样，只取一条内容格式来赋值
while rows is not None:
    f = open('FileTable.txt', 'a+')
    f.write(str(rows).lstrip('(').rstrip(')').replace(', ', '\t').replace("'", "") + '\n')
    rows = cur.fetchone()
cur.close()
conn.close()

DatabaseError: ORA-12514: TNS: 监听程序当前无法识别连接描述符中请求的服务

In [ ]:
def findtime(string):
    list_time = re.search(r"(\d{4}-\d{1,2}-\d{1,2})",test_date)
    return list_time

def findtext(string):
    list_text1 = re.search(++(.*?)+,)
    list_text2 = re.search(+(.*?)\s )
    list_text3 = re.search('#'+(.*?)+'":')
    return list_text

def findsource(string):
    Area = source[0:3]
    PLC = source[3:7]
    SG = source[-4:-2]
    FG = source[-2]
    return source

In [31]:
import re
list_time = '2019-5-31  22:41:02'
time = re.search(r"(\d{4}-\d{1,2}-\d{1,2})",list_time,re.M)#多行，re.s匹配换行符
print(time.group(0))

2019-5-31

In [68]:
import re
list_text = '++ST055+TL001 #TV001:Plausible position is missing ;'
text = re.compile(r'.*\++(.*?)\+.*').findall(list_text)
print(text)

['ST055']

In [78]:
str = '++ST055+TL001 #TV001:Plausible position is missing ;'
str[str.rfind('+')+1:str.rfind('+')+6]

'TL001'

In [87]:
str = '++ST010 #"MM02.1":Limit position forward not reached @OP: ++ST010+TL001-MM02.1-BG1:4'
str[str.rfind('#"')+2:str.rfind('#')+8]

'MM02.1'

In [94]:
str = '++ST055+TL001 #TV001:Plausible position is missing ;'
str[str.rfind('#')+2:str.rfind('+')+6]

''

In [46]:
list1 = '338FWR3_.0809'
list_1 = list1[3:7]
print(list_1)

FWR3

In [ ]:
class getdata(object):
    def

In [15]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

import MySQLdb

# 打开数据库连接
db = MySQLdb.connect("localhost", "root", "86ww86ww", "my_db", charset='utf8' )

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

# 如果数据表已经存在使用 execute() 方法删除表。
cursor.execute("DROP TABLE IF EXISTS FIXTURE")

# 创建数据表SQL语句
sql = """CREATE TABLE FIXTURE (
         START DATETIME,
         END DATETIME,
         ALARMTEXT CHAR,  
         SOURCE CHAR,
         unname10 CHAR)"""

cursor.execute(sql)

# 关闭数据库连接
db.close()